{% if is_granted('ROLE_ADMIN') %}
<div class="side-bar w-10">
    <div class="list-menu">
    
        <ul class="d-flex flex-column justify-content-around">
            <li style="list-style: none; color:white"><a style="color:white" class="text-decoration-none" href="{{ path('app_user_list') }}">Liste des User</a></li>
            <li style="list-style: none; color:white"><a style="color:white" class="text-decoration-none" href="{{ path('app_produit_list') }}">Liste des Produit</a></li>
        </ul>
    </div>
</div>
{% endif %}