/data/
/logs/
/www/.env
/www/.env.local
/www/.env.local.php
/www/.env.*.local
/www/config/secrets/prod/prod.decrypt.private.php
/www/public/bundles/
/www/var/cache/
/www/var/log/
/www/vendor/
/www/assets/vendor/

###< symfony/framework-bundle ###

.env

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

