{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block body %}

    <header>
        {% block header %}{% endblock %}
    </header>
    {% include '_side-bar.html.twig' %}
     <div class="content-admin">
        <section>
            {% block content %}{% endblock %}
        </section>
    </div>
    <footer>
        {% block footer %}{% endblock %}
    </footer>



{% endblock %}
